/node_modules
/storage
/public/.htaccess
/public/thumbs
/public/uploads
/vendor
/tmp
/.vscode
Homestead.yaml
Homestead.json
.env*
!.env.example
.php_cs.cache
.phpunit.result.cache
/.idea
**/cookie.txt
.htaccess
composer.lock